.girl-wrapper {
}

.girl-message {
}

.girl-buttons {
    margin-top: 0.6em;
}

.girl-btn {
    font-size: 1.1em;
    font-weight: bold;
    width: 1.4em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

.girl-btn-plus {
    margin-left: 0.2em;
}

