.app-wrapper {
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.app-header {
    padding: 1em;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.app-nav {
    margin-top: 0.2em;
}

.app-message {
    margin-top: 1em;
}

.app-name {
    font-weight: bold;
    color: #2090af;
}

.app-clicks {
    margin-top: 1em;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
